

###  Import the necessary libraries

In [1]:
import pandas as pd

### Create the DataFrame with the following values:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Assign it to a variable called regiment.

In [3]:
regiment=pd.DataFrame(raw_data)
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### From each regiment,what is the mean preTestScore ?

In [6]:
regiment.groupby("regiment").agg({"preTestScore":"mean"})

            preTestScore
regiment
Dragoons           15.50
Nighthawks         15.25
Scouts              2.50

            preTestScore
regiment
Dragoons           15.50
Nighthawks         15.25
Scouts              2.50

### What is the mean of each company's postTestScore?

In [8]:
regiment.groupby("regiment").agg({"postTestScore":"mean"})

            postTestScore
regiment
Dragoons             61.5
Nighthawks           59.5
Scouts               66.0

         postTestScore
company
1st          57.666667
2nd          67.000000

###  Present the mean preTestScores grouped by regiment and company

In [10]:
regiment.groupby(["regiment","company"]).agg({"preTestScore":"mean"})

                    preTestScore
regiment   company
Dragoons   1st               3.5
           2nd              27.5
Nighthawks 1st              14.0
           2nd              16.5
Scouts     1st               2.5
           2nd               2.5

### Present the mean postTestScores grouped by regiment and company

In [11]:
regiment.groupby(["regiment","company"]).agg({"postTestScore":"mean"})

                    postTestScore
regiment   company
Dragoons   1st               47.5
           2nd               75.5
Nighthawks 1st               59.5
           2nd               59.5
Scouts     1st               66.0
           2nd               66.0

                    postTestScore
regiment   company
Dragoons   1st               47.5
           2nd               75.5
Nighthawks 1st               59.5
           2nd               59.5
Scouts     1st               66.0
           2nd               66.0

### What is the number of unique observations in each regiment and company

In [19]:
regiment["regiment"].nunique()

3

In [20]:
regiment["company"].nunique()

2

3

2

### Present general statistics by company

In [17]:
regiment.describe()

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type

           preTestScore                                                  \
                  count   mean        std  min   25%   50%    75%   max
regiment
Dragoons            4.0  15.50  14.153916  3.0  3.75  14.0  25.75  31.0
Nighthawks          4.0  15.25  14.453950  2.0  3.50  14.0  25.75  31.0
Scouts              4.0   2.50   0.577350  2.0  2.00   2.5   3.00   3.0

           postTestScore
                   count  mean        std   min   25%   50%   75%   max
regiment
Dragoons             4.0  61.5  28.757608  25.0  49.0  63.5  76.0  94.0
Nighthawks           4.0  59.5  28.242993  25.0  49.0  59.5  70.0  94.0
Scouts               4.0  66.0   4.618802  62.0  62.0  66.0  70.0  70.0